<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <label for="startRentDayInput">Fecha inicio de alquiler</label>
            <input class="form-control" type="date" id="startRentDayInput" [(ngModel)]="startRentDayStr" (ngModelChange)="calculateRentDays()">
            <label for="endRentDayInput">Fecha fin de alquiler</label>
            <input class="form-control" type="date" id="endRentDayInput" [(ngModel)]="endRentDayStr" (ngModelChange)="calculateRentDays()">
            <div class="row">
                <div class="col-md-12">
                    <h2>Juegos de Mesa</h2>
                    <app-webcart-details-boardgame-detail
                        [webcartDetails]="webCart.webCartDetails"
                        [rentDays]="rentDays"
                        (getTotalGameboardPrice)="getTotalGameboardPrice($event)"
                    ></app-webcart-details-boardgame-detail>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Snacks</h2>
                    <app-webcart-details-snack-detail
                            [webcartDetails]="webCart.webCartDetails"
                            (getTotalSnackPrice)="getTotalSnackPrice($event)"
                    ></app-webcart-details-snack-detail>
                    <button type="button" class="btn btn-primary">Agregar snack</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Detalles del pedido</h2>
            <p>Cantidad de días alquilados: {{ rentDays }}</p>
            <p>Precio total de snacks: S/.{{ totalSnackPrice.toFixed(2) }}</p>
            <p>Precio total de los juegos de mesa: S/.{{ totalGameboardPrice.toFixed(2) }}</p>
            <p>Precio Total: S/.{{ (totalGameboardPrice + totalSnackPrice).toFixed(2) }}</p>
        </div>
    </div>
</div>
