<div class="row">
  <div class="col-md-4">
    <!-- <img class="col-md-12" src="https://media1.tenor.com/images/ea4d00a9d6030da9d03014af25a6a7d2/tenor.gif?itemid=14138984" alt=""> -->
  </div>
<img class="col-md-4" src="https://scontent.flim5-1.fna.fbcdn.net/v/t1.15752-9/64570822_2629644497129225_8663528117882585088_n.jpg?_nc_cat=111&_nc_oc=AQnb-eJp2g6sFJIm4IyWhKejjfnNZbWkovtOqFGk22SmwGM5HMbSJ1fd55gPlF90THk&_nc_ht=scontent.flim5-1.fna&oh=337ebcb4d4f0a9b10456fd0299ac81f8&oe=5D80A8E4" >
<div class="col-md-4">
    <!-- <img class="col-md-12" src="https://media1.tenor.com/images/ea4d00a9d6030da9d03014af25a6a7d2/tenor.gif?itemid=14138984" alt=""> -->
  </div>
</div>