<h1>{{boardgame.name}}</h1>
<div class="row">
  <img [src]=boardgame.images[0].url class="col-md-3">
  <div class="col-md-5">
    <ul class=" nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Descripción</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Ficha Tecnica</a>
      </li>
      <!-- <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {{boardgame.description}}</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Precio:</label>
            <div class="col-sm-10">
              <label class="form-control-plaintext">S/.{{boardgame.cost}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Tutorial:</label>
            <div class="col-sm-10">
              <a class="form-control-plaintext" [href]="boardgame.tutorialLink">{{boardgame.tutorialLink}}</a>
            </div>
          </div>
            <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alquiler:</label>
            <div class="col-sm-10">
              <label class="form-control-plaintext">S/.{{boardgame.pricePerDay}}</label>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
    </div>
  </div>
</div>