<div class="row">
  <div *ngFor="let boardgame of boardgames" class="col-md-2 " (click)="gotoProductDetailsV2('/boardgame',boardgame.id)">
    <div class="card text-center " >
      <img [src]=boardgame.images[0].url class="imag-card card-img-top ">
      <div class="card-body" >
        <h5 class="card-title">{{boardgame.name}}</h5>
        <p class="card-text">Precio por día: S/.{{boardgame.pricePerDay}}</p>
        <a href="#" class="btn btn-primary" routerlink="boardgame">Alquilar</a>
      </div>
    </div>
  </div>
</div>
