<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" >
    Crear nueva lista
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nueva Lista de Juegos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" 
                        placeholder="Ingresa el Nombre" [(ngModel)]="playList.name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descripción</label>
                    <input type="text" class="form-control" 
                        placeholder="Ingresa la descripción" [(ngModel)]="playList.description">
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="createPlayList()" data-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>
<ul class="navbar-nav mr-auto">
<div *ngFor="let playList of playLists">
    <app-play-list [playList]="playList"></app-play-list>
</div>
</ul>