<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <i class="fas fa-chess-rook"></i>
      Brettspiel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Juegos de mesa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let category of categories" class="dropdown-item"  [href]="" (click)="goToCategory(category.name)">{{category.name}}</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Another action</a> -->
            <!-- 
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promociones</a>
        </li>
        <div *ngIf="user.id == -1">
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="color: green" data-toggle="modal" data-target="#exampleModal" >Login</a>
        </li>
        </div>
        <div *ngIf="user.id != -1">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: green" > {{user.username}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="color: green"  (click)="logOut()" style="color:red"   >LogOut</a>
              </div>
          </li>
          </div>
      </ul>
     <ul  class="navbar-nav justify-content-center">
       
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mi cuenta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Carrito</a>
      </li>
      <li>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>

     </ul>
    </div>
  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="logIn()">
            <div class="form-group col-md-6">
              <label for="username">Username :</label>
              <input type="text" class="form-control" id="username" name="username" 
              placeholder="Ingrese su username" required [(ngModel)]="user.username">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password :</label>
              <input type="text" class="form-control" id="password" name="password" 
              placeholder="Ingrese su password" required [(ngModel)]="user.password">
            </div>
             <button type="submit" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button id ="ModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open Modal</button>