<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a aria-controls="details" class="nav-link active" data-toggle="tab" href="#details" id="details-tab"
           role="tab">Detalle</a>
    </li>
    <li class="nav-item">
        <a aria-controls="pay" class="nav-link" data-toggle="tab" href="#pay" id="pay-tab" role="tab">Pago</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="Update()">Actualizar</a>
    </li>
</ul>
<div class="tab-content" id="tabContent">
    <div aria-labelledby="details-tab" class="tab-pane fade show active" id="details" role="tabpanel">
        <app-webcart-details-list
                (getEndRentDay)="getEndRentDay($event)"
                (getStartRentDay)="getStartRentDay($event)"
        ></app-webcart-details-list>
    </div>
    <div aria-labelledby="pay-tab" class="tab-pane fade" id="pay" role="tabpanel">
        <app-payment
                [endRentDay]="endRentDay"
                [startRentDay]="startRentDay"
        ></app-payment>
    </div>
</div>
